<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-clearmin.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roboto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/small-n-flat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <title>Clearmin template</title>
</head>
<body class="cm-no-transition cm-2-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><img src="{% static 'img/logo.png' %}" width="180px" height="50px"></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li class="active"><a href="{% url 'sac_app:org_launch_activity' %}" class="sf-house">发布活动</a></li>
                    <li><a href="{% url 'sac_app:org_view_posted_activity' %}" class="sf-dashboard">已发布活动</a></li>
                    <li><a href="{% url 'sac_app:org_launch_notice' %}" class="sf-box-out">发布公告</a></li>
                    <li><a href="{% url 'sac_app:org_center' %}" class="sf-user-male-alt">组织中心</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="global" style="padding-top: 60px">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 480px;">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body" style="min-height: 480px;">
                                    <div class="form-group">
                                        <label class=input-group>社团名称</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="act_organizer_name"
                                                   value="{{ org.org_name }}" disabled="disabled"
                                                   required="required">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class=input-group>活动名称</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="act_name"
                                                   required="required">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class=input-group>活动负责人电话</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="act_organizer_phone"
                                                   required="required">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class=input-group>活动类别</label>
                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="act_type" id="optionsRadios2"
                                                           value="0" onclick="switchItem('one')" checked="">单人活动
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="act_type" id="optionsRadios1"
                                                       value="1" onclick="switchItem('number')">组队活动
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="one">
                                        <label class=input-group>单人活动限制人数</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="act_total_number"
                                                   id="a"
                                                   required="required" list="act_people_number" value="0"
                                                  >
                                            <datalist id="act_people_number">
                                                <option>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>50</option>
                                                <option>无限制</option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group" id="number">
                                        <label>活动限制组数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label>最少人数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <label>最多人数</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="act_team_number"
                                                   required="required" list="act_team_number" id="b"
                                                   value="0">
                                            <datalist id="act_team_number">
                                                <option>10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                                <option>100</option>
                                            </datalist>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="act_min_team_number"
                                                   required="required" list="act_min_team_number" id="c"
                                                   value="0">
                                            <datalist id="act_min_team_number">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </datalist>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="act_max_team_number"
                                                   required="required" list="act_max_team_number" id="d"
                                                   value="0">
                                            <datalist id="act_max_team_number">
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>10</option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=input-group>开始时间</label>
                                        <div class="col-sm-12">
                                            <input type="datetime-local" class="measureDate" placeholder="请选择日期"
                                                   name="act_start_time">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class=input-group>结束时间</label>
                                        <div class="col-sm-12">
                                            <input type="datetime-local" class="measureDate" placeholder="请选择日期"
                                                   name="act_end_time">
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body" style="min-height: 480px;">
                                    <div class="form-group">
                                        <label class=input-group>活动简介</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="act_introduction"
                                                   required="required" style="height: 20pc">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class=input-group>活动策划书</label>
                                        <div class="col-sm-12">
                                            <input type="file" class="form-control" name="act_planning_book"
                                                   required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-yellow col-sm-2" value="提交">
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </form>
                    {#                    <form method="post">#}
                    {#                        <input type="text" name="j">#}
                    {#                        <input type="submit" value="提交">#}
                    {#                    </form>#}
                </div>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <div class="nav-tabs-container">
                <ul class="nav nav-tabs">
                    <li><a href="{% url 'sac_app:org_home' %}">首页</a></li>
                    <li><a href="{% url 'sac_app:org_notice' %}">公告</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"><span
                    class="label label-danger">消息数量</span></button>
            <div class="popover cm-popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading text-overflow">
                                <i class="fa fa-fw fa-envelope"></i>现在有件大事通知您。
                            </h4>
                            <p class="list-group-item-text text-overflow">覃智科找了一个肥肥的女朋友</p>
                        </a>
                    </div>
                    <div style="padding:10px"><a class="btn btn-success btn-block" href="#">展现更多</a></div>
                </div>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong>用户名</strong></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i>设置</a>
                </li>
                <li>
                    <a href="{% url 'sac_app:login' %}"><i class="fa fa-fw fa-sign-out"></i>注销</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fastclick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clearmin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/c3.min.js' %}"></script>

</body>
</html>
<script type="text/javascript">
    {#实现时间选择#}
    let date = new Date()
    let yyyy = date.getFullYear()
    let MM = (date.getMonth() + 1) < 10 ? ("0" + (date.getMonth() + 1)) : (date.getMonth() + 1)
    let dd = date.getDate() < 10 ? ("0" + date.getDate()) : date.getDate()
    let HH = date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()
    let mm = date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes()

    let curDay = yyyy + '-' + MM + '-' + dd + 'T' + HH + ':' + mm;
    $('.measureDate').val(curDay)
    console.log(date)
    {#实现按钮选择#}

    function switchItem(tag) {
        var s1 = document.getElementById('one');
        var s2 = document.getElementById('number');
        if (tag == 'one') {
            s1.style.display = ""
            s2.style.display = 'none'
            document.getElementById("a").setAttribute("disabled")
        } else {
            s1.style.display = 'none'
            s2.style.display = ""
            document.getElementById("b").setAttribute('disabled')
            document.getElementById("c").setAttribute('disabled')
            document.getElementById("d").setAttribute('disabled')
        }
    }
</script>

