<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../src/css/c3.min.css">
    <title>校园活动中心</title>
</head>
<body class="cm-no-transition cm-2-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><img src="../../../../src/img/logo.png" width="180px" height="50px"></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li><a href="../../mag_examine_act/" class="sf-pencil">审核活动</a></li>
                    <li><a href="../../mag_examine_org/" class="sf-device-computer">审核组织</a></li>
                    <li><a href="../../mag_manage/" class="sf-user-male">管理组织者</a></li>
                    <li><a href="../../mag_add_org/" class="sf-sign-add">添加组织者</a></li>
                    <li><a href="../../mag_launch_notice/" class="sf-box-out">发布系统公告</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="tab-content">
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <div class="nav-tabs-container">
                <ul class="nav nav-tabs">
                    <li class=""><a href="../../../mag_home/">首页</a></li>
                    <li class="active"><a href="../../mag_notice/">公告</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">消息数量</span> </button>
            <div class="popover cm-popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading text-overflow">
                                <i class="fa fa-fw fa-envelope"></i>现在有件大事通知您。
                            </h4>
                            <p class="list-group-item-text text-overflow">覃智科找了一个肥肥的女朋友</p>
                        </a>
                    </div>
                    <div style="padding:10px"><a class="btn btn-success btn-block" href="#">展现更多</a></div>
                </div>
            </div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong>用户名</strong></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i>设置</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-sign-out"></i>注销</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global" >
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 560px;">
                    <div>
                        <h1 style="text-align:center;">{{ sys.notice_title }}</h1>
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ sys.notice_content }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="../../../../src/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/fastclick.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/clearmin.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/lib/d3.min.js"></script>
    <script type="text/javascript" src="../../../../src/js/lib/c3.min.js"></script>
</body>
</html>
