<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-clearmin.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roboto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/small-n-flat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.min.css' %}">
    <title>学生活动中心</title>
</head>
<body class="cm-no-transition cm-2-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><img src="{% static 'img/logo.png' %}" width="180px" height="50px"></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li><a href="{% url 'sac_app:mag_examine_act' %}" class="sf-pencil">审核活动</a></li>
                    <li><a href="{% url 'sac_app:mag_examine_org' %}" class="sf-device-computer">审核组织</a></li>
                    <li><a href="{% url 'sac_app:mag_manage' %}" class="sf-user-male">管理组织者</a></li>
                    <li class="active"><a href="{% url 'sac_app:mag_add_org' %}" class="sf-sign-add">添加组织者</a></li>
                    <li><a href="{% url 'sac_app:mag_launch_notice' %}" class="sf-box-out">发布系统公告</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="global">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="min-height: 560px;">
                    <div>
                        <h1 style="text-align:center;">{{ sys.notice_title }}</h1>
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ sys.notice_content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fastclick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clearmin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/c3.min.js' %}"></script>
</body>
</html>
